[submodule "src/Arduino"]
	path = src/Arduino
	url = https://github.com/arduino/Arduino.git
[submodule "ArduinoCore-samd"]
	path = src/ArduinoCore-samd
	url = https://github.com/arduino/ArduinoCore-samd.git
[submodule "lsm6-arduino"]
	path = src/lsm6-arduino
	url = https://github.com/pololu/lsm6-arduino.git
[submodule "src/MahonyAHRS"]
	path = src/MahonyAHRS
	url = https://github.com/PaulStoffregen/MahonyAHRS.git
