[submodule "src/ArduinoCore-samd"]
	path = src/ArduinoCore-samd
	url = https://github.com/adafruit/ArduinoCore-samd.git
[submodule "src/lsm6-arduino"]
	path = src/lsm6-arduino
	url = https://github.com/pololu/lsm6-arduino.git
[submodule "src/MahonyAHRS"]
	path = src/MahonyAHRS
	url = https://github.com/PaulStoffregen/MahonyAHRS.git
[submodule "src/BOSSA"]
	path = src/BOSSA
	url = https://github.com/shumatech/BOSSA.git
[submodule "src/SD"]
	path = src/SD
	url = https://github.com/adafruit/SD.git
